PyPDF2==3.0.1
python-dotenv==1.0.0
pdfplumber==0.10.3
fastapi==0.110.0
uvicorn==0.25.0
python-multipart==0.0.6
PyJWT==2.8.0
transformers==4.38.2
sentence-transformers==2.5.1
scikit-learn==1.3.0
numpy==1.22.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
tqdm==4.65.0
pandas==2.0.0
joblib==1.3.0
onnxruntime==1.16.0
packaging==23.0
langdetect==1.0.9 